<!doctype html>
<html>
<head>
    <title>Library Checkout</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Library Checkout</h1>
        <img src="img/library.jpg" alt="library image">

        <p> </p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Sign In</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Create an Account</a>

    </div>

</div>
</body>
</html>
